.btn {
  &,
  &:link,
  &:visited {
    font-weight: 500;
    color: $color-black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: all .2s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateY(0px);
    box-shadow: none;
  }

  &--primary {
    background-color: $color-primary;
    padding: 1.5rem 1rem;
  }

  &--secondary {
    color: $color-grey ;
    padding: .5rem;
    border: 2px solid $color-grey;

    span {
      font-size: 3rem;
      font-weight: 100;
      display: inline-block;
      margin-right: 1rem;
      transform: rotate(45deg);
    }
  }
}