.main {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, max-content);
  grid-template-rows: repeat(2, min-content);
  padding: 6rem;
}

.houses {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-gap: 3rem;
  margin-bottom: 3rem;
}

.house {
  max-height: 30rem;
  position: relative;
  background-color: $color-white;
  border-radius: .5rem;
  overflow: hidden;

  display: grid;
  grid-template-columns: minmax(25.5rem, 1fr);

  &::before {
    content: 'Комфорт';
    position: absolute;
    top: .5rem;
    left: 1rem;
    border-radius: .3rem;
    padding: .2rem 1rem;
    background-color: $color-primary;
  }

  &::after {
    content: 'Рассрочка 12 мес.';
    color: $color-white;
    position: absolute;
    top: .5rem;
    left: 10rem;
    border-radius: .3rem;
    padding: .2rem 1rem;
    background-color: $color-secondary;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__description {
    display: grid;
    grid-template-columns: max-content;
    grid-gap: 1rem;
    padding: 1.5rem;
  }

  &__metro-box {
    display: flex;
  }

  &__metro-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }

  &__street {
    color: rgba(0, 0, 0, 0.5);
  }
}

.control-panel {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: minmax(20rem, 27rem);
  justify-content: center;
  align-content: start;
  margin-left: 3rem;

  &__controller {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) min-content;
    grid-row-gap: 2.5rem;
    margin-bottom: 3rem;
  }

  &__chevron {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;

    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;

    border-top: 3px solid $color-black;
    border-left: 3px solid $color-black;
    transform: rotate(45deg) translateY(9px);
    transform-origin: center;

    &--hide {
      transform: rotate(225deg) translate(5px, -4px);
    }
  }

  &__content {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    list-style: none;
  }
}

.metro {
  &__list {
    grid-column: 1 / 3;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    justify-items: stretch;
    border: 2px solid $color-grey;
    border-radius: .5rem;
  }

  &__item {
    &--all {
      grid-column: 1 / 5;
      border-top: 2px solid $color-grey;
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__label {
    background-color: $color-primary;
  }

  &__label {
    display: block;
    padding: 1.5rem .5rem;
    width: 100%;
    text-align: center;
  }
}

.term {
  &__list {
    display: grid;
    grid-template-columns: max-content;
    grid-row-gap: 1rem;
  }

  &__radio {
    display: none;
  }

  &__radio:checked ~ &__label {
    font-weight: 700;

    &::before {
      background-image: radial-gradient($color-black 30%, $color-primary-light 30%);
    }
  }

  &__label {
    display: inline-block;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border: 1px solid $color-black;
      border-radius: 50%;
      margin-right: 1rem;
      transform: translateY(4px);
    }
  }
}

.options {
  &__list {
    display: grid;
    grid-template-rows: repeat(5, 2rem);
    grid-row-gap: 1rem;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__label {
    font-weight: 700;

    &::before {
      content: ' \2714';
      background-color: $color-primary-light;
    }
  }

  &__label {
    display: inline-flex;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-flex;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      border: 1px solid $color-black;
      margin-right: 1rem;
    }
  }
}

.services {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__icon {
    &::before {
      left: 2.2rem;
    }
  }

  &__icon {
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 2rem;
    margin-right: 1rem;
    background-color: $color-primary-light;
    border-radius: 2rem;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 3px;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 1.5rem;
      background-color: $color-black;
      transition: all .3s;
    }
  }
}