$font-primary: 'Arial', sans-serif;

$color-primary: #ffd03e;
$color-primary-light: #ffe17c;
$color-secondary: #00be77;
$color-white: #ffffff;
$color-grey: #e5e5e5;
$color-grey-light: #f4f4f4;
$color-black: #000000;